@inherits ValidatedForm
    <ListGroupItem Name="@Group?.GroupName">
    <Accordion>
        <Collapse Visible="@collapse1Visible">
            <CollapseHeader>
                <Heading Size="HeadingSize.Is5">
                    <Button Clicked="@(()=>collapse1Visible = !collapse1Visible)">
                        <Row Width="Width.Is100">
                            <Column ColumnSize="ColumnSize.Is6.OnTablet">
                                @Group?.GroupName

                            </Column>
                            <Column ColumnSize="ColumnSize.Is6.OnTablet">
                                <Switch Checked="Level?.IsSuperAdmin" Disabled>Super User Group</Switch>


                            </Column>
                        </Row>
                            
                    </Button>
                </Heading>
            </CollapseHeader>
            <CollapseBody>
                    <Row>
                        <Column ColumnSize="ColumnSize.Is4.OnDesktop">
                            
                                <Field>
                                    <FieldLabel>@AppLocalization["Group Name"]</FieldLabel>
                                    <FieldBody>
                                        <ADGroupAutoComplete @bind-SelectedGroup="@Group"/>
                                    </FieldBody>
                                </Field>

                        </Column>
                        <Column ColumnSize="ColumnSize.Is4.OnDesktop">
                                <Field>
                                    <FieldLabel>@AppLocalization["Group Name"]</FieldLabel>
                                    <FieldBody>
                                        <Switch Disabled=Program.InDemoMode @bind-Checked="Level.IsSuperAdmin">Super User Group</Switch>


                                    </FieldBody>
                                </Field>

                        </Column>
                        <Column ColumnSize="ColumnSize.Is4.OnDesktop">
                            <Button VerticalAlignment="VerticalAlignment.Middle" @onclick="Save" Color="Color.Success">Save Changes</Button>
                        </Column>
                    </Row>

             
            </CollapseBody>
        </Collapse>
    </Accordion>

</ListGroupItem>

@code {
    IADGroup Group;
    [Parameter]
    public PrivilegeLevel Level { get; set; }
    [Parameter]
    public DatabaseContext Context { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Group = Directory.Groups.FindGroupBySID(Level.GroupSID);
    }

    bool collapse1Visible = false;
    private async void Save()
    {
        collapse1Visible = false;
        Level.GroupSID = Group.SID;
        await Context.SaveChangesAsync();
        await InvokeAsync(StateHasChanged);
    }
}
