@inherits AppModalContent
<Div Background="Background.Light" TextColor="TextColor.Dark">
    <SettingsField>
        <FieldLabel>
            @UserLocalization["Username"]
        </FieldLabel>
        <FieldBody>
            <TextEdit @bind-Text="@User.SamAccountName" Disabled=true />

        </FieldBody>
    </SettingsField>

    <SettingsField>
        <FieldLabel>
            @UserLocalization["Email Address"]
        </FieldLabel>
        <FieldBody>
            <TextEdit @bind-Text="@User.Email" Disabled=true />

        </FieldBody>
    </SettingsField>

    <Validation Validator="ValidationRule.IsNotEmpty">
        <SettingsField>
            <FieldLabel>
                @UserLocalization["Password"]
            </FieldLabel>
            <FieldBody>
                <TextEdit Role="TextRole.Password" @bind-Text="@newPassword">
                    <Feedback>
                        <ValidationError>Password cannot be blank</ValidationError>
                    </Feedback>
                </TextEdit>

            </FieldBody>
        </SettingsField>
    </Validation>
    <Validation Validator="@ValidateName">
        <SettingsField>
            <FieldLabel>
                @UserLocalization["Password"]
            </FieldLabel>
            <FieldBody>
                <TextEdit Role="TextRole.Password" @bind-Text="@newPasswordConfirm">
                    <Feedback>
                        <ValidationError>Passwords must match</ValidationError>
                    </Feedback>
                </TextEdit>

            </FieldBody>
        </SettingsField>
    </Validation>
    <SettingsField>
        <FieldLabel>
            @UserLocalization["Require change"]
        </FieldLabel>
        <FieldHelp>
            Require the user to change their password at next logona
        </FieldHelp>
        <FieldBody>
            <Switch TValue="bool" @ref=requireChangeSwitch/>

        </FieldBody>

    </SettingsField>
    <Button Color=Color.Primary Disabled=!PasswordsValid Clicked="SaveChanges">@UserLocalization["Change Password"]</Button>
</Div>
@code {
#nullable disable warnings
    string newPassword;
    string newPasswordConfirm;
    Switch<bool> requireChangeSwitch;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await InvokeAsync(StateHasChanged);
    }


    async Task SaveChanges()
    {
        //User.CommitChanges();
        if (User.SetPassword(newPassword.ToSecureString(), requireChangeSwitch.Checked))
        {
           
                
            await NotificationService.Success("Changed password for " + User.DisplayName, "Password Changed");
        }
        else
        {
            await NotificationService.Error("Unable to set password for " + User.DisplayName, "Change Failed");

        }
        Close();

    }
    bool PasswordsValid
    {
        get
        {

            if (newPassword != null && newPassword != "")
                return newPassword == newPasswordConfirm;
            return false;
        }
    }
    void ValidateName(ValidatorEventArgs e)
    {

        e.Status = !PasswordsValid
            ? ValidationStatus.Error
        : ValidationStatus.Success;

    }

}
