@inherits DirectoryModelComponent

<div Padding="Padding.Is3">
    <EditForm Model="User">


        <Row>

            @{
                string adminEnabledHelperText ="";
                if (IsAdmin)
                {
                    adminEnabledHelperText = "Field unlocked because you are admin.";
                    <div>
                    All fields are editabl becuase you are an admin.
                </div>
            }
            }

            @if (InDirectoryTemplate(ActiveDirectoryFields.Mail) ||
            InDirectoryTemplate(ActiveDirectoryFields.EmployeeId) ||
            InDirectoryTemplate(ActiveDirectoryFields.Department) ||
            InDirectoryTemplate(ActiveDirectoryFields.Company) ||
            InDirectoryTemplate(ActiveDirectoryFields.Title) ||
            InDirectoryTemplate(ActiveDirectoryFields.PhysicalDeliveryOffice)
            )
            {
                <Section Title=@UserLocalization["Organization"]>
                    @if (InDirectoryTemplate(ActiveDirectoryFields.Mail))
                    {
                        
                           
                                <MudTextField Label="@UserLocalization["Email Address"]" HelperText="@adminEnabledHelperText" @bind-Value="User.Email" />

                            
                            
                        
                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.EmployeeId))
                    {
                        
                           
                                <MudTextField Label="@UserLocalization["Employee Id"]"  @bind-Value="@User.EmployeeId" Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.EmployeeId)) />

                            
                           
                        
                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.Department))
                    {
                        
                           
                                <MudTextField Label="@UserLocalization["Department"]"  @bind-Value="@User.Department" Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.Department)) />

                           
                        
                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.Company))
                    {
                        
                           
                                <MudTextField Label="@UserLocalization["Company"]"  @bind-Value="@User.Company" Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.Company)) />

                            

                        
                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.Title))
                    {
                        
                           
                                <MudTextField Label="@UserLocalization["Job Title"]" @bind-Value="@User.Title" Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.Title)) />

                            
                          
                        
                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.PhysicalDeliveryOffice))
                    {
                        
                           
                                <MudTextField Label="@UserLocalization["Office"]"  @bind-Value="@User.PhysicalDeliveryOfficeName" Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.PhysicalDeliveryOffice)) />

                            
                         
                        
                    }
                </Section>
            }

            @if (InDirectoryTemplate(ActiveDirectoryFields.HomePhone) ||
            InDirectoryTemplate(ActiveDirectoryFields.StreetAddress) ||
            InDirectoryTemplate(ActiveDirectoryFields.POBox) ||
            InDirectoryTemplate(ActiveDirectoryFields.City) ||
            InDirectoryTemplate(ActiveDirectoryFields.State) ||
            InDirectoryTemplate(ActiveDirectoryFields.PostalCode)
            )
            {
                <Section Title=@UserLocalization["Contact Info"]>

                    @if (InDirectoryTemplate(ActiveDirectoryFields.HomePhone))
                    {
                        
                           
                                <MudTextField Label="@UserLocalization["Home Phone"]"  @bind-Value="@User.HomePhone" Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.HomePhone)) />

                            
                           
                        
                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.StreetAddress))
                    {
                        
                           
                                <MudTextField Label="@UserLocalization["Street Address"]" @bind-Value="@User.StreetAddress" Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.StreetAddress)) />

                            
                           
                        
                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.POBox))
                    {
                        
                           
                                <MudTextField Label="@UserLocalization["Street"]" @bind-Value="@User.POBox" Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.POBox)) />

                            
                           
                        
                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.City))
                    {
                        
                           
                                <MudTextField Label="@UserLocalization["City"]"  @bind-Value="@User.City" Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.City)) />

                            
                          
                        
                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.State))
                    {
                        
                           
                                <MudTextField Label="@UserLocalization["State"]"  @bind-Value="@User.State" Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.State)) />

                            
                           
                        
                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.PostalCode))
                    {
                        

                                <MudTextField Label="@UserLocalization["Zip Code"]" @bind-Value="@User.Zip" Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.PostalCode)) />

                            
                           
                        
                    }
                </Section>
            }
            @if (InDirectoryTemplate(ActiveDirectoryFields.Description))
            {
                
                   
                        <MudTextField Label="@UserLocalization["Description"]" @bind-Value=@User.Description Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.Description)) />

                    
                    
                
            }
            @if (InDirectoryTemplate(ActiveDirectoryFields.Site))
            {
                
                   
                        <MudTextField Label="@UserLocalization["Site"]" @bind-Value="@User.Site" Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.Site)) />

                    
                   
                
            }
            @if (InDirectoryTemplate(ActiveDirectoryFields.HomeDirectory) ||
            InDirectoryTemplate(ActiveDirectoryFields.HomeDrive) ||
            InDirectoryTemplate(ActiveDirectoryFields.ScriptPath) ||
            InDirectoryTemplate(ActiveDirectoryFields.ProfilePath)
            )
            {
                <Section Title=@UserLocalization["Profile"]>
                    @if (InDirectoryTemplate(ActiveDirectoryFields.HomeDirectory))
                    {
                        
                           
                                <MudTextField Label="@UserLocalization["Home Directory"]" @bind-Value="@User.HomeDirectory" Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.HomeDirectory)) />

                            
                          
                        
                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.HomeDrive))
                    {
                        
                           

                                <HomeDriveSelect Label="@UserLocalization["Home Drive"]" @bind-SelectedValue="@User.HomeDrive" Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.HomeDrive)) />

                            
                           
                        
                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.ScriptPath))
                    {
                        

                                <MudTextField Label="@UserLocalization["Script Path"]" @bind-Value="@User.ScriptPath" Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.ScriptPath)) />

                            
                           
                        
                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.ProfilePath))
                    {
                        

                                <MudTextField Label="@UserLocalization["Profile Path"]" @bind-Value="@User.ProfilePath" Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.ProfilePath)) />

                            
                            
                        
                    }
                </Section>
            }






        </Row>


    </EditForm>
</div>






@code {


#nullable disable warnings

    [Parameter]
    public DirectoryTemplate DirectoryTemplate { get; set; }





    bool InDirectoryTemplate(ActiveDirectoryField field)
    {
        return DirectoryTemplate.FieldValues.Any(f => f.Field.FieldName == field.FieldName && (f.Value.IsNullOrEmpty() || UserStateService.CurrentUserState?.IsSuperAdmin == true));
    }
    bool IsEditableTemplatField(ActiveDirectoryField field)
    {



        return DirectoryTemplate.FieldValues.Any(f => f.Field.FieldName == field.FieldName && f.Value.IsNullOrEmpty());
    }




}
