@inherits AppComponentBase
<EditForm Model="NewUserName">

<Section Title=@UserLocalization["Name"]>

        <Field Horizontal>
            <FieldLabel>
                @UserLocalization["First Name"]
            </FieldLabel>
            <FieldBody>
            <TextEdit @bind-Text="@NewUserName.GivenName" />

            </FieldBody>
        </Field>
        <Field Horizontal>
            <FieldLabel>
                @UserLocalization["Middle Name"]
            </FieldLabel>
            <FieldBody>
            <TextEdit @bind-Text="@NewUserName.MiddleName" />

            </FieldBody>
        </Field>
        <Field Horizontal>
            <FieldLabel>
                @UserLocalization["Last Name"]
            </FieldLabel>
            <FieldBody>
            <TextEdit @bind-Text="@NewUserName.Surname" />

            </FieldBody>
        </Field>
  
</Section>
</EditForm>

@code {

#nullable disable warnings
    NewUserName newUserName;

    [Parameter]
    public NewUserName NewUserName{ get => newUserName;set
        {
            if (value == newUserName) return;
            newUserName=value;
            NewUserNameChanged.InvokeAsync(newUserName);

        } }

    [Parameter]
    public EventCallback<NewUserName> NewUserNameChanged { get; set; }
}
