@inherits AppComponentBase
<EditForm Model="NewUserName">

<Section Title=@UserLocalization["Name"]>

        <MudField>
            <MudFieldLabel>
                @UserLocalization["First Name"]
            </FieldLabel>
            
            <MudTextField  @bind-Value="@NewUserName.GivenName" />

            
        </MudField>
        <MudField>
            <MudFieldLabel>
                @UserLocalization["Middle Name"]
            </FieldLabel>
            
            <MudTextField  @bind-Value="@NewUserName.MiddleName" />

            
        </MudField>
        <MudField>
            <MudFieldLabel>
                @UserLocalization["Last Name"]
            </FieldLabel>
            
            <MudTextField  @bind-Value="@NewUserName.Surname" />

            
        </MudField>
  
</Section>
</EditForm>

@code {

#nullable disable warnings
    NewUserName newUserName;

    [Parameter]
    public NewUserName NewUserName{ get => newUserName;set
        {
            if (value == newUserName) return;
            newUserName=value;
            NewUserNameChanged.InvokeAsync(newUserName);

        } }

    [Parameter]
    public EventCallback<NewUserName> NewUserNameChanged { get; set; }
}
