@inherits AppModalContent
<h3>DatabaseBrowser</h3>



<MudTabs>
    <MudTabPanel Text="User Settings">
        <MudDataGrid Items="@userSettings">
            <Columns>
                <PropertyColumn Property="x=>x.Username" />
                <PropertyColumn Property="x=>x.UserGUID" />
                <PropertyColumn Property="x=>x.SearchDisabledUsers" />
                <PropertyColumn Property="x=>x.APIToken" />
                <PropertyColumn Property="x=>x.SearchDisabledComputers" />
                <PropertyColumn Property="x=>x.SearchDisabledUsers" />
                <PropertyColumn Property="x=>x.Theme" />
            </Columns>
        </MudDataGrid>
    </MudTabPanel>
    <MudTabPanel Text="User Notifications">
        <MudDataGrid Items="@userNotifications">
            <Columns>
                <PropertyColumn Property="x=>x.User.Username" />
                <PropertyColumn Property="x=>x.IsRead" />
                <PropertyColumn Property="x=>x.Notification.Created" />
                <PropertyColumn Property="x=>x.Notification.Level" />
                <PropertyColumn Property="x=>x.Notification.Title" />
                <PropertyColumn Property="x=>x.Notification.Message" />
                <PropertyColumn Property="x=>x.Notification.Link" />


            </Columns>
        </MudDataGrid>
    </MudTabPanel>
   
    <MudTabPanel Text="Access Levels">
        <MudDataGrid Items="@accessLevels">
            <Columns>
                <PropertyColumn Property="x=>x.Name" />
                    <TemplateColumn Title="Object Mappings">
                        <CellTemplate>
                            <MudList>
                                @foreach(var obj in context.Item.ObjectMap)
                                {
                                string objAccessLevels="";
                                obj.AccessLevels.ForEach(x => objAccessLevels += x.Name + ",");
                                <MudListItem>@obj.ObjectType -> @objAccessLevels</MudListItem>
                                }
                            </MudList>
                        </CellTemplate>
                    </TemplateColumn>
                <PropertyColumn Property="x=>x.ObjectMap" />
                <PropertyColumn Property="x=>x.ActionMap" />
                <PropertyColumn Property="x=>x.DeletedAt" />


            </Columns>
        </MudDataGrid>
    </MudTabPanel>
</MudTabs>
@code {
    List<AppUser> userSettings = new();
    List<UserNotification> userNotifications = new();
    List<AccessLevel> accessLevels = new();
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Modal.Options = new() { FullScreen = true };
        userSettings = await Context.UserSettings.ToListAsync();
        userNotifications = await Context.UserNotifications.ToListAsync();
        accessLevels = await Context.AccessLevels.ToListAsync();
    }
}
