@inherits DirectoryModelComponent

<Div Padding="Padding.Is3">
    <EditForm Model="User">


        <Row>


            @if (IsAdmin)
            {
                <Div>
                    All fields are editabl becuase you are an admin.
                </Div>
            }


            @if (InDirectoryTemplate(ActiveDirectoryFields.Mail) ||
            InDirectoryTemplate(ActiveDirectoryFields.EmployeeId) ||
            InDirectoryTemplate(ActiveDirectoryFields.Department) ||
            InDirectoryTemplate(ActiveDirectoryFields.Company) ||
            InDirectoryTemplate(ActiveDirectoryFields.Title) ||
            InDirectoryTemplate(ActiveDirectoryFields.PhysicalDeliveryOffice)
            )
            {
                <Section Title=@UserLocalization["Organization"]>
                    @if (InDirectoryTemplate(ActiveDirectoryFields.Mail))
                    {
                        <Field Horizontal>
                            <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                                @UserLocalization["Email Address"]
                            </FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
                                <TextEdit @bind-Text="User.Email" />

                            </FieldBody>
                            @if (IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.Mail))
                            {
                                <FieldHelp>Field unlocked because you are admin.</FieldHelp>
                            }
                        </Field>
                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.EmployeeId))
                    {
                        <Field Horizontal>
                            <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                                @UserLocalization["Employee Id"]
                            </FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
                                <TextEdit @bind-Text="@User.EmployeeId" Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.EmployeeId)) />

                            </FieldBody>
                            @if (IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.EmployeeId))
                            {
                                <FieldHelp>Field unlocked because you are admin.</FieldHelp>
                            }
                        </Field>
                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.Department))
                    {
                        <Field Horizontal>
                            <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                                @UserLocalization["Department"]
                            </FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
                                <TextEdit @bind-Text="@User.Department" Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.Department)) />

                            </FieldBody>
                            @if (IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.Department))
                            {
                                <FieldHelp>Field unlocked because you are admin.</FieldHelp>
                            }
                        </Field>
                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.Company))
                    {
                        <Field Horizontal>
                            <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                                @UserLocalization["Company"]
                            </FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
                                <TextEdit @bind-Text="@User.Company" Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.Company)) />

                            </FieldBody>
                            @if (IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.Company))
                            {
                                <FieldHelp>Field unlocked because you are admin.</FieldHelp>
                            }

                        </Field>
                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.Title))
                    {
                        <Field Horizontal>
                            <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                                @UserLocalization["Job Title"]
                            </FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
                                <TextEdit @bind-Text="@User.Title" Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.Title)) />

                            </FieldBody>
                            @if (IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.Title))
                            {
                                <FieldHelp>Field unlocked because you are admin.</FieldHelp>
                            }
                        </Field>
                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.PhysicalDeliveryOffice))
                    {
                        <Field Horizontal>
                            <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                                @UserLocalization["Office"]
                            </FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
                                <TextEdit @bind-Text="@User.PhysicalDeliveryOfficeName" Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.PhysicalDeliveryOffice)) />

                            </FieldBody>
                            @if (IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.PhysicalDeliveryOffice))
                            {
                                <FieldHelp>Field unlocked because you are admin.</FieldHelp>
                            }
                        </Field>
                    }
                </Section>
            }

            @if (InDirectoryTemplate(ActiveDirectoryFields.HomePhone) ||
            InDirectoryTemplate(ActiveDirectoryFields.StreetAddress) ||
            InDirectoryTemplate(ActiveDirectoryFields.Street) ||
            InDirectoryTemplate(ActiveDirectoryFields.City) ||
            InDirectoryTemplate(ActiveDirectoryFields.State) ||
            InDirectoryTemplate(ActiveDirectoryFields.PostalCode)
            )
            {
                <Section Title=@UserLocalization["Contact Info"]>

                    @if (InDirectoryTemplate(ActiveDirectoryFields.HomePhone))
                    {
                        <Field Horizontal>
                            <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                                @UserLocalization["Home Phone"]
                            </FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
                                <TextEdit @bind-Text="@User.HomePhone" Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.HomePhone)) />

                            </FieldBody>
                            @if (IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.HomePhone))
                            {
                                <FieldHelp>Field unlocked because you are admin.</FieldHelp>
                            }
                        </Field>
                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.StreetAddress))
                    {
                        <Field Horizontal>
                            <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                                @UserLocalization["Street Address"]
                            </FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
                                <TextEdit @bind-Text="@User.StreetAddress" Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.StreetAddress)) />

                            </FieldBody>
                            @if (IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.StreetAddress))
                            {
                                <FieldHelp>Field unlocked because you are admin.</FieldHelp>
                            }
                        </Field>
                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.Street))
                    {
                        <Field Horizontal>
                            <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                                @UserLocalization["Street"]
                            </FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
                                <TextEdit @bind-Text="@User.Street" Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.Street)) />

                            </FieldBody>
                            @if (IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.Street))
                            {
                                <FieldHelp>Field unlocked because you are admin.</FieldHelp>
                            }
                        </Field>
                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.City))
                    {
                        <Field Horizontal>
                            <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                                @UserLocalization["City"]
                            </FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
                                <TextEdit @bind-Text="@User.City" Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.City)) />

                            </FieldBody>
                            @if (IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.City))
                            {
                                <FieldHelp>Field unlocked because you are admin.</FieldHelp>
                            }
                        </Field>
                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.State))
                    {
                        <Field Horizontal>
                            <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                                @UserLocalization["State"]
                            </FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
                                <TextEdit @bind-Text="@User.State" Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.State)) />

                            </FieldBody>
                            @if (IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.State))
                            {
                                <FieldHelp>Field unlocked because you are admin.</FieldHelp>
                            }
                        </Field>
                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.PostalCode))
                    {
                        <Field Horizontal>
                            <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                                @UserLocalization["Zip Code"]
                            </FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
                                <TextEdit @bind-Text="@User.Zip" Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.PostalCode)) />

                            </FieldBody>
                            @if (IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.PostalCode))
                            {
                                <FieldHelp>Field unlocked because you are admin.</FieldHelp>
                            }
                        </Field>
                    }
                </Section>
            }
            @if (InDirectoryTemplate(ActiveDirectoryFields.Description))
            {
                <Field Horizontal>
                    <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                        @UserLocalization["Description"]
                    </FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
                        <TextEdit @bind-Text=@User.Description Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.Description)) />

                    </FieldBody>
                    @if (IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.Description))
                    {
                        <FieldHelp>Field unlocked because you are admin.</FieldHelp>
                    }
                </Field>
            }
            @if (InDirectoryTemplate(ActiveDirectoryFields.Site))
            {
                <Field Horizontal>
                    <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                        @UserLocalization["Site"]
                    </FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
                        <TextEdit @bind-Text="@User.Site" Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.Site)) />

                    </FieldBody>
                    @if (IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.Site))
                    {
                        <FieldHelp>Field unlocked because you are admin.</FieldHelp>
                    }
                </Field>
            }
            @if (InDirectoryTemplate(ActiveDirectoryFields.HomeDirectory) ||
            InDirectoryTemplate(ActiveDirectoryFields.HomeDrive) ||
            InDirectoryTemplate(ActiveDirectoryFields.ScriptPath) ||
            InDirectoryTemplate(ActiveDirectoryFields.ProfilePath)
            )
            {
                <Section Title=@UserLocalization["Profile"]>
                    @if (InDirectoryTemplate(ActiveDirectoryFields.HomeDirectory))
                    {
                        <Field Horizontal>
                            <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                                @UserLocalization["Home Directory"]
                            </FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
                                <TextEdit @bind-Text="@User.HomeDirectory" Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.HomeDirectory)) />

                            </FieldBody>
                            @if (IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.HomeDirectory))
                            {
                                <FieldHelp>Field unlocked because you are admin.</FieldHelp>
                            }
                        </Field>
                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.HomeDrive))
                    {
                        <Field Horizontal>
                            <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                                @UserLocalization["Home Drive"]
                            </FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">

                                <HomeDriveSelect @bind-SelectedValue="@User.HomeDrive" Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.HomeDrive)) />

                            </FieldBody>
                            @if (IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.HomeDrive))
                            {
                                <FieldHelp>Field unlocked because you are admin.</FieldHelp>
                            }
                        </Field>
                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.ScriptPath))
                    {
                        <Field Horizontal>
                            <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                                @UserLocalization["Script Path"]
                            </FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
                                <TextEdit @bind-Text="@User.ScriptPath" Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.ScriptPath)) />

                            </FieldBody>
                            @if (IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.ScriptPath))
                            {
                                <FieldHelp>Field unlocked because you are admin.</FieldHelp>
                            }
                        </Field>
                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.ProfilePath))
                    {
                        <Field Horizontal>
                            <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                                @UserLocalization["Profile Path"]
                            </FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
                                <TextEdit @bind-Text="@User.ProfilePath" Disabled=@(!IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.ProfilePath)) />

                            </FieldBody>
                            @if (IsAdmin && !IsEditableTemplatField(ActiveDirectoryFields.ProfilePath))
                            {
                                <FieldHelp>Field unlocked because you are admin.</FieldHelp>
                            }
                        </Field>
                    }
                </Section>
            }






        </Row>


    </EditForm>
</Div>






@code {

    bool EditMode = false;


    [Parameter]
    public DirectoryTemplate DirectoryTemplate { get; set; }





    bool InDirectoryTemplate(ActiveDirectoryField field)
    {
        return DirectoryTemplate.FieldValues.Any(f => f.Field.FieldName == field.FieldName && (f.Value.IsNullOrEmpty() || UserStateService.CurrentUserState?.IsSuperAdmin == true));
    }
    bool IsEditableTemplatField(ActiveDirectoryField field)
    {



        return DirectoryTemplate.FieldValues.Any(f => f.Field.FieldName == field.FieldName && f.Value.IsNullOrEmpty());
    }




}
