
@inject IHttpContextAccessor context
@inject IApplicationUserStateService userStateService
@inject ICurrentUserStateService  currentUser
<CascadingAuthenticationState>



    <ErrorBoundary>
    
        <ChildContent>
            <Router AppAssembly="@typeof(App).Assembly">
                <Found Context="routeData">
                    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                        <Authorizing>
                            Authorizing...
                        </Authorizing>
                        <NotAuthorized>
                            @if (context.User.Identity?.IsAuthenticated != true)
                            {
                                <PageTitle>Login</PageTitle>
                                <LayoutView Layout="@typeof(LoginLayout)">
                                    <Login />
                                </LayoutView>
                                @*<RedirectToLogin />*@
                            }
                            else
                            {
                                @if (context != null)
                                {

                                }
                                <p>You are not authorized to access this resource.</p>
                            }
                        </NotAuthorized>

                    </AuthorizeRouteView>
                    <FocusOnNavigate RouteData="@routeData" Selector="h1" />
                </Found>
                <NotFound>
                    <AppPageTitle>Not found</AppPageTitle>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <_404 />
                    </LayoutView>
                </NotFound>
            </Router>
        </ChildContent>
        <ErrorContent>
            <LayoutView Layout="@typeof(MinLayout)">
                <UnhandledExceptionPage Error="@context" />

            </LayoutView>
        </ErrorContent>
    </ErrorBoundary>





</CascadingAuthenticationState>

<MudThemeProvider IsDarkMode="@darkMode" Theme="@activeTheme.Theme" />
<MudDialogProvider />
<MudSnackbarProvider />

<SessionExpirationWarningProvider />

@code {
    bool darkMode = false;
    ApplicationTheme activeTheme = new BlueTheme();
    protected override void OnInitialized()
    {
        base.OnInitialized();
        var userTheme = currentUser.State.Preferences?.Theme;
        switch (userTheme)
        {
            case "Blue":
            default:
                activeTheme = new BlueTheme();
                break;
            case "Red":
                activeTheme = new RedTheme();
                break;


        }
        darkMode = currentUser.State.Preferences?.DarkMode==true;
    }

}