@inherits AppModalContent
<Div Background="Background.Light" TextColor="TextColor.Dark">
    <Section Title=@UserLocalization["Name"]>

        @if (Group.CanEditField(ActiveDirectoryFields.SAMAccountName))
        {
            <Field Horizontal>
                <FieldLabel>
                    @UserLocalization["Group Name"]
                </FieldLabel>
                <FieldBody>
                    <TextEdit @bind-Text="@GroupName" />

                </FieldBody>
            </Field>
        }

      
    </Section>

    @if (Group.CanEditField(ActiveDirectoryFields.Mail))
    {
        <Field Horizontal>
            <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                @UserLocalization["Email Address"]
            </FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
                <TextEdit @bind-Text="@Group.Email" />

            </FieldBody>
        </Field>
    }

    <Button Color=Color.Primary Clicked="SaveChanges">@UserLocalization["Save Changes"]</Button>
</Div>
@code {
    string GroupName;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        GroupName = Group.CanonicalName;
        await InvokeAsync(StateHasChanged);
    }


    async Task SaveChanges()
    {
        if(GroupName.IsNullOrEmpty()){
            NotificationService.Warning("You must provide a group name", "Group name");
            GroupName = Group.CanonicalName;
        }
        //Group.CommitChanges();
        try{
            Group.Rename(GroupName);
            NotificationService.Success("The group has been renamed.", "Group renamed");
            Close();
        }
        catch(Exception ex)
        {
            NotificationService.Error("The group could not be renamed.", "Group renamed");
        }

    }

}
