@page "/login"
@using BLAZAM.Common.Data;
@using BLAZAM.Common.Data.ActiveDirectory.Interfaces;
@using BLAZAM.Server.Data.Services.Email;
@inherits ValidatedForm
@inject IJSRuntime JSRuntime
@layout LoginLayout
@{
    var redirectUrl = Nav.Uri;
}
<MudContainer Class="py-5">

    <MudText Typo="Typo.h3">


        @DatabaseCache.ApplicationSettings?.AppName

    </MudText>



    <MudElement Class="brand-icon">
        <MudImage Src="@StaticAssets.ApplicationIconUri" />

    </MudElement>
    <form onsubmit="@AttemptSignIn" class="login-form" method="post" action="/signin" id="login-form">
        <MudContainer  Style="max-width:300px;" Class="py-4">
            @if (!Program.InDemoMode || DemoCustomLogin)
            {



                <MudTextField Disabled=@attemptingSignIn Class="justify-center" AutoFocus Label="Username" name="Username" @bind-Value=LoginRequest.Username />

                <MudTextField Disabled=@attemptingSignIn Class="justify-center" Label="Password" name="Password" InputType="InputType.Password" @bind-Value=LoginRequest.Password />
                <MudTextField Class="d-none" name="ReturnUrl" Value="@redirectUrl" />
                    <MudButton OnClick=@(()=>{attemptingSignIn=true;})  Class="my-5" ButtonType=ButtonType.Submit Color="Color.Primary">@AppLocalization["Log In"]</MudButton>
                     
                <br />

            }
            else if (Program.InDemoMode)
            {
                <MudContainer Class="d-none">

                    <MudTextField name="username" Value=@("demo") hidden />
                    <MudTextField name="password" InputType="InputType.Password" Value=@("demo") hidden />
                    <MudTextField name="ReturnUrl" Value="@redirectUrl" />
                </MudContainer>

                <MudButtonGroup Color=Color.Primary Variant="Variant.Outlined">
                 

                        <MudButton OnClick=@(()=>{attemptingSignIn=true;}) Disabled=@attemptingSignIn Class="my-6" ButtonType=ButtonType.Submit Color="Color.Primary">@AppLocalization["Log In To Demo"]</MudButton>
                
                    <MudMenu Icon="@Icons.Material.Filled.ArrowDropDown">
                            <MudMenuItem OnClick=@(()=>{ DemoCustomLogin=true;InvokeAsync(StateHasChanged); })>@AppLocalization["Custom Login"]</MudMenuItem>
                    </MudMenu>
                </MudButtonGroup>

            }
        </MudContainer>
       <MudOverlay Visible="attemptingSignIn" DarkBackground="true" Absolute="true">
            <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
        </MudOverlay>
    </form>

    <Copyright Class="mx-auto" />
</MudContainer>

<style>
    .brand-icon {
        position: fixed;
        left: 5px;
        top: 5px;
    }

        .brand-icon img {
            max-width: 65px;
            max-height: 65px;
        }

    .login-form input {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
</style>

@code {
    bool attemptingSignIn = false;

    bool DemoCustomLogin = false;
    LoginRequest LoginRequest = new();
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (Monitor.AppReady != ServiceConnectionState.Up)
            Monitor.OnAppReadyChanged += AppReadyChanged;
        Monitor.OnDirectoryConnectionChanged += ((state) => { InvokeAsync(StateHasChanged); });
    }

    async void AppReadyChanged(ServiceConnectionState state)
    {
        if (state == ServiceConnectionState.Up)
            await InvokeAsync(StateHasChanged);


    }
    async void AttemptSignIn()
    {
        var authenticationResult = await JSRuntime.InvokeAsync<string>("attemptSignIn",null);
        if (!authenticationResult.IsNullOrEmpty())
        {
            int resultCode = int.Parse(authenticationResult);

            switch ((LoginResultStatus)resultCode)
            {

                case LoginResultStatus.NoUsername:
                    SnackBarService.Info("Username is missing");

                    break;
                case LoginResultStatus.NoPassword:
                    SnackBarService.Info("Password is missing");

                    break;
                case LoginResultStatus.NoData:
                    SnackBarService.Info("Login request is missing");

                    break;
                case LoginResultStatus.BadCredentials:
                    SnackBarService.Warning("Username or password not correct");

                    break;
                case LoginResultStatus.UnauthorizedImpersonation:
                    SnackBarService.Info("Username is missing");

                    break;
                case LoginResultStatus.UnknownFailure:
                    SnackBarService.Info("Unknown error while attempting to log in");

                    break;
            }
            attemptingSignIn = false;
            InvokeAsync(StateHasChanged);
        }
    }

}
