@page "/oops"

@layout ErrorLayout
@inject IStringLocalizer<AppLocalization> Loc

@if (Program.IsDevelopment)
{
    <DevTools />
}

<PageTitle>Oops</PageTitle>
<h3>@Loc["Oops"]</h3>
<h6>@ErrorMessage</h6>
<p>@DetailsMessage</p>
<p>@HelpMessage</p>
<p>@Loc["Please report to"] your system administrator</p>
@code {

    public static string? ErrorMessage {get;set;}
    public static string? DetailsMessage {get;set;}
    public static string? HelpMessage {get;set;}

}
