@using BLAZAM.Database.Models.Templates;
@inherits DirectoryModelComponent

<MudElement Class="mx-auto">
    <MudForm @ref=@form Model="@User" @bind-IsValid=IsValid>


        <Row>

            @{
                if (IsAdmin)
                {
                    <MudAlert Class="mud-alert-info">
                        All fields are editable because you are an admin.
                    </MudAlert>
                }
            }

            @if (InDirectoryTemplate(ActiveDirectoryFields.Description) ||
            InDirectoryTemplate(ActiveDirectoryFields.Mail) ||
            InDirectoryTemplate(ActiveDirectoryFields.EmployeeId) ||
            InDirectoryTemplate(ActiveDirectoryFields.Department) ||
            InDirectoryTemplate(ActiveDirectoryFields.Company) ||
            InDirectoryTemplate(ActiveDirectoryFields.Title) ||
            InDirectoryTemplate(ActiveDirectoryFields.PhysicalDeliveryOffice)
            )
            {
                <Section Title=@AppLocalization["Organization"]>
                    @if (InDirectoryTemplate(ActiveDirectoryFields.Description))
                    {


                        <MudTextField Label="@AppLocalization["Description"]"
                                      @bind-Value=@User.Description
                                      Disabled=@(!IsAdmin && !IsEditableTemplateField(ActiveDirectoryFields.Description))
                                      Required=@(IsRequiredTemplateField(ActiveDirectoryFields.Description)) />




                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.Mail))
                    {


                        <MudTextField Label="@AppLocalization["Email Address"]"
                                      @bind-Value="User.Email"
                                      Disabled=@(!IsAdmin && !IsEditableTemplateField(ActiveDirectoryFields.Mail))
                                      Required=@(IsRequiredTemplateField(ActiveDirectoryFields.Mail)) />




                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.EmployeeId))
                    {


                        <MudTextField Label="@AppLocalization["Employee Id"]"
                                      @bind-Value="@User.EmployeeId"
                                      Disabled=@(!IsAdmin && !IsEditableTemplateField(ActiveDirectoryFields.EmployeeId))
                                      Required=@(IsRequiredTemplateField(ActiveDirectoryFields.EmployeeId)) />




                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.Department))
                    {


                        <MudTextField Label="@AppLocalization["Department"]"
                                      @bind-Value="@User.Department"
                                      Disabled=@(!IsAdmin && !IsEditableTemplateField(ActiveDirectoryFields.Department))
                                      Required=@(IsRequiredTemplateField(ActiveDirectoryFields.Department)) />



                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.Company))
                    {


                        <MudTextField Label="@AppLocalization["Company"]"
                                      @bind-Value="@User.Company"
                                      Disabled=@(!IsAdmin && !IsEditableTemplateField(ActiveDirectoryFields.Company))
                                      Required=@(IsRequiredTemplateField(ActiveDirectoryFields.Company)) />




                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.Title))
                    {


                        <MudTextField Label="@AppLocalization["Job Title"]"
                                      @bind-Value="@User.Title"
                                      Disabled=@(!IsAdmin && !IsEditableTemplateField(ActiveDirectoryFields.Title))
                                      Required=@(IsRequiredTemplateField(ActiveDirectoryFields.Title)) />




                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.PhysicalDeliveryOffice))
                    {


                        <MudTextField Label="@AppLocalization["Office"]"
                                      @bind-Value="@User.PhysicalDeliveryOfficeName"
                                      Disabled=@(!IsAdmin && !IsEditableTemplateField(ActiveDirectoryFields.PhysicalDeliveryOffice))
                                      Required=@(IsRequiredTemplateField(ActiveDirectoryFields.PhysicalDeliveryOffice)) />




                    }
                </Section>
            }

            @if (InDirectoryTemplate(ActiveDirectoryFields.HomePhone) ||
            InDirectoryTemplate(ActiveDirectoryFields.StreetAddress) ||
            InDirectoryTemplate(ActiveDirectoryFields.POBox) ||
            InDirectoryTemplate(ActiveDirectoryFields.City) ||
            InDirectoryTemplate(ActiveDirectoryFields.State) ||
            InDirectoryTemplate(ActiveDirectoryFields.PostalCode)
            )
            {
                <Section Title=@AppLocalization["Contact Info"]>

                    @if (InDirectoryTemplate(ActiveDirectoryFields.HomePhone))
                    {


                        <MudTextField Label="@AppLocalization["Home Phone"]"
                                      @bind-Value="@User.HomePhone"
                                      Disabled=@(!IsAdmin && !IsEditableTemplateField(ActiveDirectoryFields.HomePhone))
                                      Required=@(IsRequiredTemplateField(ActiveDirectoryFields.HomePhone)) />




                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.StreetAddress))
                    {


                        <MudTextField Label="@AppLocalization["Street Address"]"
                                      @bind-Value="@User.StreetAddress"
                                      Disabled=@(!IsAdmin && !IsEditableTemplateField(ActiveDirectoryFields.StreetAddress))
                                      Required=@(IsRequiredTemplateField(ActiveDirectoryFields.StreetAddress)) />




                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.POBox))
                    {


                        <MudTextField Label="@AppLocalization["Street"]"
                                      @bind-Value="@User.POBox"
                                      Disabled=@(!IsAdmin && !IsEditableTemplateField(ActiveDirectoryFields.POBox))
                                      Required=@(IsRequiredTemplateField(ActiveDirectoryFields.POBox)) />




                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.City))
                    {


                        <MudTextField Label="@AppLocalization["City"]"
                                      @bind-Value="@User.City"
                                      Disabled=@(!IsAdmin && !IsEditableTemplateField(ActiveDirectoryFields.City))
                                      Required=@(IsRequiredTemplateField(ActiveDirectoryFields.City)) />




                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.State))
                    {


                        <MudTextField Label="@AppLocalization["State"]"
                                      @bind-Value="@User.State"
                                      Disabled=@(!IsAdmin && !IsEditableTemplateField(ActiveDirectoryFields.State))
                                      Required=@(IsRequiredTemplateField(ActiveDirectoryFields.State)) />




                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.PostalCode))
                    {


                        <MudTextField Label="@AppLocalization["Zip Code"]"
                                      @bind-Value="@User.Zip"
                                      Disabled=@(!IsAdmin && !IsEditableTemplateField(ActiveDirectoryFields.PostalCode))
                                      Required=@(IsRequiredTemplateField(ActiveDirectoryFields.PostalCode)) />




                    }
                </Section>
            }

            @if (InDirectoryTemplate(ActiveDirectoryFields.Site))
            {


                <MudTextField Label="@AppLocalization["Site"]" 
                @bind-Value="@User.Site"
                              Disabled=@(!IsAdmin && !IsEditableTemplateField(ActiveDirectoryFields.Site))
                              Required=@(IsRequiredTemplateField(ActiveDirectoryFields.Site)) />




            }
            @if (InDirectoryTemplate(ActiveDirectoryFields.HomeDirectory) ||
            InDirectoryTemplate(ActiveDirectoryFields.HomeDrive) ||
            InDirectoryTemplate(ActiveDirectoryFields.ScriptPath) ||
            InDirectoryTemplate(ActiveDirectoryFields.ProfilePath)
            )
            {
                <Section Title=@AppLocalization["Profile"]>
                    @if (InDirectoryTemplate(ActiveDirectoryFields.HomeDirectory))
                    {


                        <MudTextField Label="@AppLocalization["Home Directory"]"
                        @bind-Value="@User.HomeDirectory"
                                      Disabled=@(!IsAdmin && !IsEditableTemplateField(ActiveDirectoryFields.HomeDirectory))
                                      Required=@(IsRequiredTemplateField(ActiveDirectoryFields.HomeDirectory)) />




                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.HomeDrive))
                    {



                        <HomeDriveSelect Label="@AppLocalization["Home Drive"]" 
                        @bind-DriveLetter="@User.HomeDrive"
                                         Disabled=@(!IsAdmin && !IsEditableTemplateField(ActiveDirectoryFields.HomeDrive))
                                         Required=@(IsRequiredTemplateField(ActiveDirectoryFields.HomeDrive)) />




                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.ScriptPath))
                    {


                        <MudTextField Label="@AppLocalization["Script Path"]" 
                        @bind-Value="@User.ScriptPath"
                                      Disabled=@(!IsAdmin && !IsEditableTemplateField(ActiveDirectoryFields.ScriptPath))
                                      Required=@(IsRequiredTemplateField(ActiveDirectoryFields.ScriptPath)) />




                    }
                    @if (InDirectoryTemplate(ActiveDirectoryFields.ProfilePath))
                    {


                        <MudTextField Label="@AppLocalization["Profile Path"]"
                        @bind-Value="@User.ProfilePath"
                                      Disabled=@(!IsAdmin && !IsEditableTemplateField(ActiveDirectoryFields.ProfilePath))
                                      Required=@(IsRequiredTemplateField(ActiveDirectoryFields.Description)) />




                    }
                </Section>
            }
            @if (User.CanReadAnyCustomFields)
            {
                <Section Title=@AppLocalization["Additional Fields"]>
                    @foreach (var field in DirectoryTemplate.InheritedFieldValues.Where(f => f.CustomField != null))
                    {
                        @if (field.CustomField != null)
                        {
                            <MudTextField Validation=@(()=>{
                              if(field.Required && User.NewEntryProperties[field.CustomField.FieldName]!=null
                              && User.NewEntryProperties[field.CustomField.FieldName].ToString()!="")
                              return true;
                              else
                              return false;
                              })
                                          Label="@field.FieldDisplayName"
                                          @bind-Value="@User.NewEntryProperties[field.CustomField.FieldName]" 
                                          Disabled=@(!IsAdmin && !IsEditableTemplateField(field.CustomField)) />
                        }
                    }
                </Section>
            }



        </Row>
        <Row>
            <MudButton Color=Color.Success Disabled=@(!IsValid) OnClick="@(()=>{OnValidSubmit.InvokeAsync();})">Next</MudButton>

        </Row>

    </MudForm>
</MudElement>






@code {


    #nullable disable warnings
    MudForm form;

    [Parameter]
    public DirectoryTemplate DirectoryTemplate { get; set; }

    [Parameter]
    public bool IsValid{ get; set; }


    bool InDirectoryTemplate(IActiveDirectoryField field)
    {
        return DirectoryTemplate.InheritedFieldValues.Any(f => (f.Field != null && f.Field.FieldName == field.FieldName) || (f.CustomField != null && f.CustomField.FieldName == field.FieldName));
    }
    bool IsEditableTemplateField(IActiveDirectoryField field)
    {

        //if (IsAdmin) return true;

        if (field is ActiveDirectoryField)
            return DirectoryTemplate.InheritedFieldValues.Any(f => f.Field.FieldName == field.FieldName && f.Editable);
        else
            return DirectoryTemplate.InheritedFieldValues.Any(f => f.CustomField.FieldName == field.FieldName && f.Editable);

    }
    bool IsRequiredTemplateField(IActiveDirectoryField field)
    {


        if (field is ActiveDirectoryField)
            return DirectoryTemplate.InheritedFieldValues.Any(f => f.Field.FieldName == field.FieldName && f.Required);
        else
            return DirectoryTemplate.InheritedFieldValues.Any(f => f.CustomField.FieldName == field.FieldName && f.Required);
    }




}
