@inherits ValidatedForm



<LoadingIndicator Height="Height.Is100" Visible=LoadingData>

        <Heading>@SettingsLocalization["Email Settings"]</Heading>
        <Form @onsubmit="Save">

            <Validations Mode="ValidationMode.Auto" Model="@settings" StatusChanged="OnValidation">
                <SettingsField>
                    <FieldLabel>@SettingsLocalization["Email Enabled"]</FieldLabel>
                    <FieldBody>
                        <Switch @bind-Checked="settings.Enabled" />
                    </FieldBody>
                </SettingsField>


                <Validation>
                    <SettingsField>
                        <FieldLabel>@SettingsLocalization["Admin bcc"]</FieldLabel>

                        <FieldHelp>
                            Addresses to blind copy all application emails that are sent.
                        </FieldHelp>
                        <FieldBody>

                            <TextEdit @bind-Text="settings.AdminBcc">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </FieldBody>


                    </SettingsField>
                </Validation>

                <Validation>
                    <SettingsField>
                        <FieldLabel>@SettingsLocalization["SMTP Server"]</FieldLabel>
                        <FieldBody>

                            <TextEdit @bind-Text="settings.SMTPServer">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </FieldBody>
                    </SettingsField>
                </Validation>
                <Validation>
                    <SettingsField>
                        <FieldLabel>@SettingsLocalization["SMTP Port"]</FieldLabel>
                        <FieldBody>

                            <NumericEdit @bind-Value="settings.SMTPPort">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </NumericEdit>
                        </FieldBody>
                    </SettingsField>
                </Validation>
                <SettingsField>
                    <FieldLabel>@SettingsLocalization["Use TLS"]</FieldLabel>
                    <FieldBody>
                        <Switch TValue="bool" @bind-Checked="settings.UseTLS" />
                    </FieldBody>
                </SettingsField>

                <SettingsField>
                    <FieldLabel>@SettingsLocalization["Use SMTP Authentication"]</FieldLabel>
                    <FieldBody>
                        <Switch TValue="bool" @bind-Checked="settings.UseSMTPAuth" />
                    </FieldBody>
                </SettingsField>

                @if (settings.UseSMTPAuth)
                {
                    <Validation>
                        <SettingsField>
                            <FieldLabel>@SettingsLocalization["SMTP Username"]</FieldLabel>
                            <FieldBody>
                                <TextEdit @bind-Text="settings.SMTPUsername">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </TextEdit>
                            </FieldBody>
                        </SettingsField>
                    </Validation>
                    <Validation>
                        <SettingsField>
                            <FieldLabel>@SettingsLocalization["SMTP Password"]</FieldLabel>
                            <FieldBody>

                                <TextEdit @bind-Text="settings.SMTPPassword">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </TextEdit>
                            </FieldBody>
                        </SettingsField>
                    </Validation>
                }
                <Validation>
                    <SettingsField>
                        <FieldLabel>@SettingsLocalization["From Address"]</FieldLabel>
                        <FieldBody>

                            <TextEdit @bind-Text="settings.FromAddress">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </FieldBody>
                    </SettingsField>
                </Validation>
                <Validation>
                    <SettingsField>
                        <FieldLabel>@SettingsLocalization["From Display Name"]</FieldLabel>
                        <FieldBody>

                            <TextEdit @bind-Text="settings.FromName">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </FieldBody>
                    </SettingsField>
                </Validation>
                <Validation>
                    <SettingsField>
                        <FieldLabel>@SettingsLocalization["Reply-To Address"]</FieldLabel>
                        <FieldBody>

                            <TextEdit @bind-Text="settings.ReplyToAddress">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </FieldBody>
                    </SettingsField>
                </Validation>
                <Validation>
                    <SettingsField>
                        <FieldLabel>@SettingsLocalization["Reply-To Display Name"]</FieldLabel>
                        <FieldBody>

                            <TextEdit @bind-Text="settings.ReplyToName">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </FieldBody>
                    </SettingsField>
                </Validation>
                <Validations Model="testRecipient" StatusChanged="OnValidation">
                    <Validation Validator="ValidationRule.IsEmail">
                        <TextEdit Disabled=@(!settings.Enabled) @bind-Text=testRecipient />
                        <Button Disabled=@(!settings.Enabled && !settings.Valid()) @onclick="SendTestEmail" Color="Color.Success">Send Test Email</Button>
                    </Validation>
                </Validations>

                <SettingsField>
                    <FieldBody>
                        <Button Disabled="saveDisabled" Type="ButtonType.Submit" Color="Color.Success">Save Changes</Button>
                    </FieldBody>
                </SettingsField>
            </Validations>
        </Form>
</LoadingIndicator>
@code {
#nullable disable warnings
    BLAZAM.Common.Models.Database.EmailSettings settings = new BLAZAM.Common.Models.Database.EmailSettings();
    string testRecipient;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (Context != null)
        {
            var set = Context.EmailSettings.FirstOrDefault();

            if (set != null)
            {
                settings = set;
            }
        }

        LoadingData = false;
        await InvokeAsync(StateHasChanged);
    }
    async Task SendTestEmail()
    {
        try
        {
            await EmailService.SendTestEmail(testRecipient);
            await MessageService.Success("A test email was sent to " + testRecipient, "Test Email Sent");

        }
        catch (Exception ex)
        {
            await MessageService.Error(ex.Message, "Test Failed");
        }
    }
    protected override void Save()
    {
        if (settings.EmailSettingsId == 0 && Context!=null)
        {
            Context.EmailSettings.Add(settings);
        }
        base.Save();

    }
}
