@inherits Widget
@attribute [Authorize]
<Div Background="Background.Secondary" TextColor="TextColor.Light">

    <h3>Disabled users changed in the last 90 days</h3>

    <Div Overflow="Overflow.Auto" Style="max-height:350px;">
        @foreach (var user in LockedUsers)
        {

            <Card Background="Background.Dark" TextColor="TextColor.Light" @onclick="@(()=>{Nav.NavigateTo("/users/search/" + user.SamAccountName);})">


                @user.DisplayName <br>
                @user.SamAccountName <br>
                @DirectoryTools.PrettifyOu(user.OU) <br>

                @user.LastChanged <br>
            </Card>

        }
    </Div>
</Div>
@code {
    List<IADUser> LockedUsers = new();

    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();

        Name = "Disabled Users";
        LockedUsers = (await Directory.Users.FindChangedUsersAsync(false)).Where(u => u.Disabled).ToList();
        LoadingData = false;
        await InvokeAsync(StateHasChanged);
    }
}
