@inherits Widget
@attribute [Authorize]
<div Background="Background.Secondary" >
    <h3>Locked Out Users</h3>
    <div Overflow="Overflow.Auto" Style="max-height:350px;">

        @foreach (var user in LockedUsers)
        {

            <MudCard Background="Background.Light" TextColor="Color.Dark" Style="cursor:pointer" @onclick="@(()=>{Nav.NavigateTo(user.SearchUri);})">

                @user.DisplayName <br>
                @user.SamAccountName <br>
                @DirectoryTools.PrettifyOu(user.OU) <br>
                @user.LockoutTime <br>
            </MudCard>
        }
    </div>
</div>
@code {
    List<IADUser> LockedUsers = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Name = "Locked Out Users";
        LockedUsers = (await Directory.Users.FindLockedOutUsersAsync()).OrderByDescending(u=>u.LockoutTime).Where(u=>u.CanRead).ToList();
        LoadingData = false;
        await InvokeAsync(StateHasChanged);
    }
    

}
