@inherits DirectoryModelComponent
@inject IJSRuntime JSRuntime
<AppPageTitle>Confirm User Creation</AppPageTitle>




    <MudTextField Label="@UserLocalization["OU"]" Value="@User.OU.ToPrettyOu()" Disabled=true />

    <MudTextField Label="@UserLocalization["First Name"]" Value="@User.GivenName" Disabled=true />

    <MudTextField Label="@UserLocalization["Middle Name"]" Value="@User.MiddleName" Disabled=true />

    <MudTextField Label="@UserLocalization["Last Name"]" Value="@User.Surname" Disabled=true />

    <MudTextField Label="@UserLocalization["Display Name"]" Value="@User.DisplayName" Disabled=true />

    <MudTextField Label="@UserLocalization["Username"]" Value="@User.SamAccountName" Disabled=true />

    <MudTextField Label="@UserLocalization["Password"]" Value="@User.NewPassword.ToPlainText()" Disabled=true />

    <MudTextField Label="@UserLocalization["Email Address"]" Value="@User.Email" Disabled=true />


@if (InDirectoryTemplate(ActiveDirectoryFields.EmployeeId) ||
 InDirectoryTemplate(ActiveDirectoryFields.Department) ||
 InDirectoryTemplate(ActiveDirectoryFields.Company) ||
 InDirectoryTemplate(ActiveDirectoryFields.Title) ||
 InDirectoryTemplate(ActiveDirectoryFields.PhysicalDeliveryOffice)
 )
{
    <Section Title=@UserLocalization["Organization"]>
        @if (InDirectoryTemplate(ActiveDirectoryFields.EmployeeId))
        {
                <MudTextField Label="@UserLocalization["Employee Id"]" @bind-Value="@User.EmployeeId" Disabled=true />
        }
        @if (InDirectoryTemplate(ActiveDirectoryFields.Department))
        {
                <MudTextField Label="@UserLocalization["Department"]" @bind-Value="@User.Department" Disabled=true />
        }
        @if (InDirectoryTemplate(ActiveDirectoryFields.Company))
        {
                <MudTextField Label="@UserLocalization["Company"]" @bind-Value="@User.Company" Disabled=true />
        }
        @if (InDirectoryTemplate(ActiveDirectoryFields.Title))
        {
            <MudTextField Label="@UserLocalization["Job Title"]" @bind-Value="@User.Title" Disabled=true />
        }
        @if (InDirectoryTemplate(ActiveDirectoryFields.PhysicalDeliveryOffice))
        {
                <MudTextField Label="@UserLocalization["Office"]" @bind-Value="@User.PhysicalDeliveryOfficeName" Disabled=true />
        }
    </Section>
}

@if (InDirectoryTemplate(ActiveDirectoryFields.HomePhone) ||
          InDirectoryTemplate(ActiveDirectoryFields.StreetAddress) ||
          InDirectoryTemplate(ActiveDirectoryFields.POBox) ||
          InDirectoryTemplate(ActiveDirectoryFields.City) ||
          InDirectoryTemplate(ActiveDirectoryFields.State) ||
          InDirectoryTemplate(ActiveDirectoryFields.PostalCode)
          )
{
    <Section Title=@UserLocalization["Contact Info"]>

        @if (InDirectoryTemplate(ActiveDirectoryFields.HomePhone))
        {
                <MudTextField Label="@UserLocalization["Home Phone"]" @bind-Value="@User.HomePhone" Disabled=true />
        }
        @if (InDirectoryTemplate(ActiveDirectoryFields.StreetAddress))
        {
                <MudTextField Label="@UserLocalization["Street Address"]" @bind-Value="@User.StreetAddress" Disabled=true />
        }
        @if (InDirectoryTemplate(ActiveDirectoryFields.POBox))
        {
                <MudTextField Label="@UserLocalization["PO Box"]" @bind-Value="@User.POBox" Disabled=true />
        }
        @if (InDirectoryTemplate(ActiveDirectoryFields.City))
        {
                <MudTextField Label="@UserLocalization["City"]" @bind-Value="@User.City" Disabled=true />
        }
        @if (InDirectoryTemplate(ActiveDirectoryFields.State))
        {
                <MudTextField Label="@UserLocalization["State"]" @bind-Value="@User.State" Disabled=true />
        }
        @if (InDirectoryTemplate(ActiveDirectoryFields.PostalCode))
        {
                <MudTextField Label="@UserLocalization["Zip Code"]" @bind-Value="@User.Zip" Disabled=true />
        }
    </Section>
}
@if (InDirectoryTemplate(ActiveDirectoryFields.Description))
{
        <MudTextField Label="@UserLocalization["Description"]" @bind-Value="@User.Description" Disabled=true />
}
@if (InDirectoryTemplate(ActiveDirectoryFields.Site))
{
        <MudTextField Label="@UserLocalization["Site"]" @bind-Value="@User.Site" Disabled=true />
}
@if (InDirectoryTemplate(ActiveDirectoryFields.HomeDirectory) ||
          InDirectoryTemplate(ActiveDirectoryFields.HomeDrive) ||
          InDirectoryTemplate(ActiveDirectoryFields.ScriptPath) ||
          InDirectoryTemplate(ActiveDirectoryFields.ProfilePath)
          )
{
    <Section Title=@UserLocalization["Profile"]>
        @if (InDirectoryTemplate(ActiveDirectoryFields.HomeDirectory))
        {
            <MudTextField Label="@UserLocalization["Home Directory"]" @bind-Value="@User.HomeDirectory" Disabled=true />
        }
        @if (InDirectoryTemplate(ActiveDirectoryFields.HomeDrive))
        {
                <HomeDriveSelect Label="@UserLocalization["Home Drive"]" @bind-Value="@User.HomeDrive" Disabled=true />
        }
        @if (InDirectoryTemplate(ActiveDirectoryFields.ScriptPath))
        {
                <MudTextField Label="@UserLocalization["Script Path"]" @bind-Value="@User.ScriptPath" Disabled=true />
        }
        @if (InDirectoryTemplate(ActiveDirectoryFields.ProfilePath))
        {
                <MudTextField Label="@UserLocalization["Profile Path"]" @bind-Value="@User.ProfilePath" Disabled=true />
        }
    </Section>
}





    <Row>
        @if (User.IsAGroupMember)
        {
            var deniedRead = false;
            @foreach (ADGroup g in User.MemberOf.Where(g => g.CanRead))
            {
                if (g.CanRead)
                {
                        <AssignedGroup AllowUnassign=false AllowNavigation=false Group=g Member="User" OnGroupMembershipChange="@((change)=>{InvokeAsync(StateHasChanged);})" />
                }
                else
                {
                    deniedRead = true;
                }
            }

            if (deniedRead)
            {
                <MudText>
                    The user is in more groups you don't have access to
            </MudText>
            }
        }

    </Row>


<MudButton Color="Color.Success" OnClick="ConfirmUser">Create User</MudButton>
<MudButton StartIcon="@Icons.Material.Filled.Print" Color="Color.Info" OnClick="Print">Print</MudButton>

@code {
    [Parameter]
    public DirectoryTemplate? DirectoryTemplate { get; set; }

    [Parameter]
    public EventCallback<IADUser> Confirmed { get; set; }
    /// <summary>
    /// Checks if the given field is in the template, whether editable or not
    /// </summary>
    /// <param name="field"></param>
    /// <returns></returns>
    bool InDirectoryTemplate(ActiveDirectoryField field)
    {
        if (DirectoryTemplate == null) return true;
        return DirectoryTemplate?.FieldValues.Any(f => f.Field.FieldName == field.FieldName) == true;
    }
    /// <summary>
    /// Triggered when the user confirms the creation of this
    /// Active Directory User
    /// </summary>
    /// <returns></returns>
    async Task ConfirmUser()
    {
        try
        {
            User.CommitChanges();
            SnackBarService.Success("User has been created");
            await Confirmed.InvokeAsync(User);
            Nav.NavigateTo("/search/" + User.SamAccountName);
        }
        catch (ApplicationException ex)
        {
            await MessageService.Error(ex.Message);
        }
    }

    async Task Print()
    {
        JSRuntime.InvokeVoidAsync("printPage",null);
    }
}