@inherits DirectoryModelComponent
<AppPageTitle>Confirm User Creation</AppPageTitle>



<Field Horizontal ColumnSize="FieldColumnSize">
    <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
        @UserLocalization["First Name"]
    </FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
        <TextEdit @bind-Text="@User.GivenName" Disabled=true />

    </FieldBody>
</Field>

<Field Horizontal ColumnSize="FieldColumnSize">
    <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
        @UserLocalization["Middle Name"]
    </FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
        <TextEdit @bind-Text="@User.MiddleName" Disabled=true />

    </FieldBody>
</Field>

<Field Horizontal ColumnSize="FieldColumnSize">
    <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
        @UserLocalization["Last Name"]
    </FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
        <TextEdit @bind-Text="@User.Surname" Disabled=true />

    </FieldBody>
</Field>

<Field Horizontal ColumnSize="FieldColumnSize">
    <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
        @UserLocalization["Display Name"]
    </FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
        <TextEdit @bind-Text="@User.DisplayName" Disabled=true />

    </FieldBody>
</Field>

<Field Horizontal ColumnSize="FieldColumnSize">
    <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
        @UserLocalization["Username"]
    </FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
        <TextEdit @bind-Text="@User.SamAccountName" Disabled=true />
    </FieldBody>
</Field>
<Field Horizontal ColumnSize="FieldColumnSize">
    <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
        @UserLocalization["Password"]
    </FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
        <TextEdit Text="@User.NewPassword.ToPlainText()" Disabled=true />
    </FieldBody>
</Field>
<Field Horizontal ColumnSize="FieldColumnSize">
    <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
        @UserLocalization["Email Address"]
    </FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
        <TextEdit @bind-Text="@User.Email" Disabled=true />

    </FieldBody>
</Field>
@if (InDirectoryTemplate(ActiveDirectoryFields.EmployeeId) ||
  InDirectoryTemplate(ActiveDirectoryFields.Department) ||
  InDirectoryTemplate(ActiveDirectoryFields.Company) ||
  InDirectoryTemplate(ActiveDirectoryFields.Title) ||
  InDirectoryTemplate(ActiveDirectoryFields.PhysicalDeliveryOffice)
  )
{
    <Section Title=@UserLocalization["Organization"]>
        @if (InDirectoryTemplate(ActiveDirectoryFields.EmployeeId))
        {
            <Field Horizontal>
                <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                    @UserLocalization["Employee Id"]
                </FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
                    <TextEdit @bind-Text="@User.EmployeeId" Disabled=true />

                </FieldBody>
            </Field>
        }
        @if (InDirectoryTemplate(ActiveDirectoryFields.Department))
        {
            <Field Horizontal>
                <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                    @UserLocalization["Department"]
                </FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
                    <TextEdit @bind-Text="@User.Department" Disabled=true />

                </FieldBody>
            </Field>
        }
        @if (InDirectoryTemplate(ActiveDirectoryFields.Company))
        {
            <Field Horizontal>
                <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                    @UserLocalization["Company"]
                </FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
                    <TextEdit @bind-Text="@User.Company" Disabled=true />

                </FieldBody>
            </Field>
        }
        @if (InDirectoryTemplate(ActiveDirectoryFields.Title))
        {
            <Field Horizontal>
                <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                    @UserLocalization["Job Title"]
                </FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
                    <TextEdit @bind-Text="@User.Title" Disabled=true />

                </FieldBody>
            </Field>
        }
        @if (InDirectoryTemplate(ActiveDirectoryFields.PhysicalDeliveryOffice))
        {
            <Field Horizontal>
                <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                    @UserLocalization["Office"]
                </FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
                    <TextEdit @bind-Text="@User.PhysicalDeliveryOfficeName" Disabled=true />

                </FieldBody>
            </Field>
        }
    </Section>
}

@if (InDirectoryTemplate(ActiveDirectoryFields.HomePhone) ||
           InDirectoryTemplate(ActiveDirectoryFields.StreetAddress) ||
           InDirectoryTemplate(ActiveDirectoryFields.Street) ||
           InDirectoryTemplate(ActiveDirectoryFields.City) ||
           InDirectoryTemplate(ActiveDirectoryFields.State) ||
           InDirectoryTemplate(ActiveDirectoryFields.PostalCode)
           )
{
    <Section Title=@UserLocalization["Contact Info"]>

        @if (InDirectoryTemplate(ActiveDirectoryFields.HomePhone))
        {
            <Field Horizontal>
                <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                    @UserLocalization["Home Phone"]
                </FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
                    <TextEdit @bind-Text="@User.HomePhone" Disabled=true />

                </FieldBody>
            </Field>
        }
        @if (InDirectoryTemplate(ActiveDirectoryFields.StreetAddress))
        {
            <Field Horizontal>
                <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                    @UserLocalization["Street Address"]
                </FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
                    <TextEdit @bind-Text="@User.StreetAddress" Disabled=true />

                </FieldBody>
            </Field>
        }
        @if (InDirectoryTemplate(ActiveDirectoryFields.Street))
        {
            <Field Horizontal>
                <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                    @UserLocalization["Street"]
                </FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
                    <TextEdit @bind-Text="@User.Street" Disabled=true />

                </FieldBody>
            </Field>
        }
        @if (InDirectoryTemplate(ActiveDirectoryFields.City))
        {
            <Field Horizontal>
                <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                    @UserLocalization["City"]
                </FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
                    <TextEdit @bind-Text="@User.City" Disabled=true />

                </FieldBody>
            </Field>
        }
        @if (InDirectoryTemplate(ActiveDirectoryFields.State))
        {
            <Field Horizontal>
                <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                    @UserLocalization["State"]
                </FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
                    <TextEdit @bind-Text="@User.State" Disabled=true />

                </FieldBody>
            </Field>
        }
        @if (InDirectoryTemplate(ActiveDirectoryFields.PostalCode))
        {
            <Field Horizontal>
                <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                    @UserLocalization["Zip Code"]
                </FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
                    <TextEdit @bind-Text="@User.Zip" Disabled=true />

                </FieldBody>
            </Field>
        }
    </Section>
}
@if (InDirectoryTemplate(ActiveDirectoryFields.Description))
{
    <Field Horizontal>
        <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
            @UserLocalization["Description"]
        </FieldLabel>
        <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
            <TextEdit @bind-Text="@User.Description" Disabled=true />

        </FieldBody>
    </Field>
}
@if (InDirectoryTemplate(ActiveDirectoryFields.Site))
{
    <Field Horizontal>
        <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
            @UserLocalization["Site"]
        </FieldLabel>
        <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
            <TextEdit @bind-Text="@User.Site" Disabled=true />

        </FieldBody>
    </Field>
}
@if (InDirectoryTemplate(ActiveDirectoryFields.HomeDirectory) ||
           InDirectoryTemplate(ActiveDirectoryFields.HomeDrive) ||
           InDirectoryTemplate(ActiveDirectoryFields.ScriptPath) ||
           InDirectoryTemplate(ActiveDirectoryFields.ProfilePath)
           )
{
    <Section Title=@UserLocalization["Profile"]>
        @if (InDirectoryTemplate(ActiveDirectoryFields.HomeDirectory))
        {
            <Field Horizontal>
                <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                    @UserLocalization["Home Directory"]
                </FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
                    <TextEdit @bind-Text="@User.HomeDirectory" Disabled=true />

                </FieldBody>
            </Field>
        }
        @if (InDirectoryTemplate(ActiveDirectoryFields.HomeDrive))
        {
            <Field Horizontal>
                <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                    @UserLocalization["Home Drive"]
                </FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">

                    <HomeDriveSelect @bind-SelectedValue="@User.HomeDrive" Disabled=true />

                </FieldBody>
            </Field>
        }
        @if (InDirectoryTemplate(ActiveDirectoryFields.ScriptPath))
        {
            <Field Horizontal>
                <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                    @UserLocalization["Script Path"]
                </FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
                    <TextEdit @bind-Text="@User.ScriptPath" Disabled=true />

                </FieldBody>
            </Field>
        }
        @if (InDirectoryTemplate(ActiveDirectoryFields.ProfilePath))
        {
            <Field Horizontal>
                <FieldLabel ColumnSize="ColumnSize.Is4.OnTablet">
                    @UserLocalization["Profile Path"]
                </FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is8.OnTablet">
                    <TextEdit @bind-Text="@User.ProfilePath" Disabled=true />

                </FieldBody>
            </Field>
        }
    </Section>
}


<Field ColumnSize="ColumnSize.Is12" Horizontal>

    <FieldBody ColumnSize="ColumnSize.Is12">
        <Row>
            @if (User.IsAGroupMember)
            {
                var deniedRead = false;
                @foreach (ADGroup g in User.MemberOf.Where(g => g.CanRead))
                {
                    if (g.CanRead)
                    {
                        <Column ColumnSize="ColumnSize.Is6.OnDesktop">
                            <AssignedGroup AllowUnassign=false AllowNavigation=false Group=g Member="User" OnGroupMembershipChange="@((change)=>{InvokeAsync(StateHasChanged);})" />
                        </Column>
                    }
                    else
                    {
                        deniedRead = true;
                    }
                }

                if (deniedRead)
                {
                    <Column ColumnSize="ColumnSize.Is6.OnDesktop">
                        The user is in more groups you don't have access to
                    </Column>
                }

            }
           
        </Row>
    </FieldBody>
</Field>
<Button Color="Color.Success" Clicked="ConfirmUser">Create User</Button>

@code {
    [Parameter]
    public DirectoryTemplate? DirectoryTemplate { get; set; }

    [Parameter]
    public EventCallback<IADUser> Confirmed { get; set; }

    bool InDirectoryTemplate(ActiveDirectoryField field)
    {
        if (DirectoryTemplate == null) return true;
        return DirectoryTemplate?.FieldValues.Any(f => f.Field.FieldName == field.FieldName)==true;
    }
    async Task ConfirmUser(){
        try{
            User.CommitChanges();
            await NotificationService.Success("User has been created");
            await Confirmed.InvokeAsync(User);
             Nav.NavigateTo("/search/" + User.SamAccountName);
        }catch(ApplicationException ex)
        {
            await MessageService.Error(ex.Message);
        }
    }
}