@inherits Widget
@attribute [Authorize]
<div Background="Background.Secondary" >

    <h3>User passwords changed in the last 90 days</h3>

    <div Overflow="Overflow.Auto" Style="max-height:350px;">
        @foreach (var user in LockedUsers)
        {

            <MudCard @onclick="@(()=>{Nav.NavigateTo("/users/search/" + user.SamAccountName);})">


                @user.DisplayName <br>
                @user.SamAccountName <br>
                @DirectoryTools.PrettifyOu(user.OU) <br>

                @user.PasswordLastSet <br>

            </MudCard>

        }
    </div>
</div>
@code {
    List<IADUser> LockedUsers = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Title = "Disabled Users";
        LockedUsers = await Directory.Users.FindChangedPasswordUsersAsync(false);
        LoadingData = false;
        await InvokeAsync(StateHasChanged);
    }
}
